{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='https://fonts.googleapis.com/css?family=Nunito Sans' rel='stylesheet'>

    <link rel="stylesheet" type="text/css" href="{% static 'css/home.css' %}">

    <title>Login</title>
</head>

<body>

    <div class="login-container">
        <h1>Login</h1>

        <form action="{% url 'login_view' %}" method="post">
            {% csrf_token %}
            <div class="login-container-inputs">
                <input type="username" name="username" id="username" placeholder="Username:" class="text-field"
                    required>

                <input type="password" name="password" id="password" placeholder="Password:" class="text-field"
                    required>
            </div>

            <div class="submit-button">
                <button type="submit" name="submit" id="submit">Login</button>
            </div>

            <div class="forgot-password">
                <p>Forgot Password</p>
            </div>

            <div class="signup-button">
                <button onclick="location.href='/register'" type="submit" name="signup" id="signup">Sign Up</button>

            </div>
        </form>
        {% if error %}
        <div class="error-container">
            <p class="error-message">{{ error }}</p>
        </div>
        {% endif %}
    </div>
</body>

</html>